%control-properties {
    position: relative;
    font-family: $font-family-button;
    font-size: rem(16px);
    font-weight: normal;
    display: inline-block;
    color: $color-white;
    background-color: $color-orange;
    cursor: pointer;
    padding: rem(15px) rem(30px) rem(17px) rem(30px);
    text-decoration: none;
    line-height: 1;
    overflow: hidden;
}

%focus-properties {
    color: $color-white;
    background-color: $color-darkblue;
}

.btn-center{
    text-align: center;
}

.btn {
    transition: all 0.2s ease-in-out;
    @extend %control-properties;
    &:hover{
        @extend %focus-properties;
    }
}

.btn-blue{
    background-color: $color-darkblue;
    @extend %control-properties;
    &:hover{
        background-color: $color-orange;
    }
}